@model KECJobs.Models.SkillDevelopment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SkillDevelopment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Organisation Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgName)
        </dd>

        <dt>
            Training (Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingCources)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locations)
        </dd>

        <dt>
            Other Information
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherInfo)
        </dd>

        <dt>
            Contact Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactDetails)
        </dd>

        <dt>
            Cost(Range in Rs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_lookup_costs.CostDesc)
        </dd>

        <dt>
            Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Lookup_Duration.DurationDesc)
        </dd>

    </dl>
</div>
<p>
@if ((KECAuthenticate.isAuthenticated == true) && ((KECAuthenticate.IsAdmin == true) || (KECAuthenticate.isSkillDevelopmentEditor == true)))
{
    <span>
        Html.ActionLink("Edit", "Edit", new { id = Model.SkillDevID }) |
    </span>
}       <span>
    @Html.ActionLink("Back to List", "Index")
</span>

</p>
