@model KECJobs.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Father Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            Marital Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Lookup_MaritalStatus.maritalstatus)
        </dd>

        <dt>
            Date of Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Area Of Intrest
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfIntrest)
        </dd>

        <dt>
            Email Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            Contact Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        @if ((KECAuthenticate.isAuthenticated == true) && ((KECAuthenticate.IsAdmin == true) || (KECAuthenticate.isRegistrationEditor == true)))
        {
            <dt>
                Resume File
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResumeFilePath)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.tbl_lookup_PositionType.PositionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_lookup_PositionType.PositionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Lookup_Qualifications.QualificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Lookup_Qualifications.QualificationName)
        </dd>

    </dl>
</div>
<p>
    @if ((KECAuthenticate.isAuthenticated == true) && ((KECAuthenticate.IsAdmin == true) || (KECAuthenticate.isRegistrationEditor == true)))
    {                   <span>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RegistrationID }) |
    </span>
    }
    <span>
        @Html.ActionLink("Back to List", "Index")
    </span>
</p>
