@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<KECJobs.Models.Registration>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@*@model IEnumerable<KECJobs.Models.Registration>*@

@{
    ViewBag.Title = "Event Registration List";
    var firstRec = true;
    var UploadPath = ViewBag.UploadPath +"/";
}

<h2>Index</h2>

<br />
<br />
<br />

@if (KECAuthenticate.isAuthenticated == true)
{
<p>
    @Html.ActionLink("Register a new member for Event", "Register")
</p>
}
<div align="right">
    <p>@Html.ActionLink("Download Excel", "PrintExcel", "Registrations", null, new { @class = "btn btn-primary btn-lg", @target = "_new" })</p>
</div>
<p>
    @using (Html.BeginForm("Index", "Registrations", FormMethod.Get))
    {
        @Html.TextBox("Search")
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
@foreach (var item in Model)
{
    if (firstRec)
    {
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => item.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.Name)
        </th>
        <th>
            Father Name
        </th>
        <th>
            marital status
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.Gender)
        </th>
        <th>
            Area Of Intrest
        </th>
        <th>
            Email Address
        </th>
        <th>
            Contact Number
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => item.Address)
        </th>
@if ((KECAuthenticate.isAuthenticated == true) && ((KECAuthenticate.IsAdmin == true) || (KECAuthenticate.isRegistrationEditor == true)))
{
        <th>
            ResumeFile
        </th>
}
        <th>
            Position
        </th>
        <th>
            Qualification
        </th>
        <th></th>
    </tr>
    }
    firstRec = false;

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Lookup_MaritalStatus.maritalstatus)
        </td>
        <td nowrap>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaOfIntrest)
        </td>
        <td>
            @{ if ((Convert.ToString(item.EmailAddress) != "") && (item.EmailAddress != null))
                {

                    <a href="mailto:@Html.DisplayFor(modelItem => item.EmailAddress)">@Html.DisplayFor(modelItem => item.EmailAddress) </a>
                }
            }
           
         
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>

@if ((KECAuthenticate.isAuthenticated == true) && ((KECAuthenticate.IsAdmin == true) || (KECAuthenticate.isRegistrationEditor == true)))
{
        <td >
            @*@Html.DisplayFor(modelItem => item.ResumeFilePath)*@
            @{ if ((Convert.ToString(item.ResumeFilePath) != "") && (item.ResumeFilePath != null))
                {

                    <a href="@UploadPath@item.ResumeFilePath" target="_new">Download </a>
                }
            }
            

        </td>
}
        <td>
            @Html.DisplayFor(modelItem => item.tbl_lookup_PositionType.PositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Lookup_Qualifications.QualificationName)
        </td>
        <td nowrap>
            @if ((KECAuthenticate.isAuthenticated == true) && ((KECAuthenticate.IsAdmin == true) || (KECAuthenticate.isRegistrationEditor == true)))
            {                   <span>
                @Html.ActionLink("Edit", "Edit", new { id = item.RegistrationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RegistrationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RegistrationID })
            </span>
            }
            else if (KECAuthenticate.isAuthenticated == true) {
                <span>
                    @Html.ActionLink("Details", "Details", new { id = item.RegistrationID })
                </span>
            }
</td>
    </tr>
                }

</table>
<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
