@model KECJobs.Models.JobOpenings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobOpenings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Job#
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            Job Position
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locations)
        </dd>

        <dt>
            Contact Details
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactDetails)
        </dd>

        <dt>
            Acceptance From
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>

        <dt>
            Acceptance Till
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            Experience
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Lookup_Experiences.ExperienceShort_Description)
        </dd>

    </dl>
</div>
<p>
@if ((KECAuthenticate.isAuthenticated == true) && ((KECAuthenticate.IsAdmin == true) || (KECAuthenticate.isJobsEditor == true)))
{
    <span>
        @Html.ActionLink("Edit", "Edit", new { id = Model.JobOpenID }) |
    </span>
}
    <span>
        @Html.ActionLink("Back to List", "Index")
    </span>
</p>
